!!!
%html{:lang => "en"}
  %head
    = render 'layouts/users/header_scripts'
  %body#page-top
    / Page Wrapper
    #wrapper
      / Sidebar
      = render 'layouts/users/sidebar'
      / End of Sidebar
      / Content Wrapper
      #content-wrapper.d-flex.flex-column
        / Main Content
        #content
          / Topbar
          = render 'layouts/users/topbar'
          / End of Topbar
          / Begin Page Content
          .container-fluid
            = yield
            / Page Heading
          / /.container-fluid
        / End of Main Content
        / Footer
        = render 'layouts/users/footer'
        / End of Footer
      / End of Content Wrapper
    / End of Page Wrapper
    / Scroll to Top Button
    = render 'layouts/users/scroll_to_top'
    / Logout Modal
    = render 'layouts/users/logout_modal'
    %script{:src => "/assets/users/vendor/jquery/jquery.min.js"}
    %script{:src => "/assets/users/vendor/bootstrap/js/bootstrap.bundle.min.js"}
    %script{:src => "/assets/users/vendor/jquery-easing/jquery.easing.min.js"}
    %script{:src => "/assets/users/js/sb-admin-2.min.js"}
    %script{:src => "/assets/users/vendor/datatables/jquery.dataTables.min.js"}
    %script{:src => "/assets/users/vendor/datatables/dataTables.bootstrap4.min.js"}
    %script{:src => "/assets/users/js/demo/datatables-demo.js"}
