/ About Section
%section#about.about.section.light-background
  .container{"data-aos" => "fade-up", "data-aos-delay" => "100"}
    .row.align-items-xl-center.gy-5
      .col-xl-5.content
        %h3
          = t('pages.about.title')
        %h2
          = t('pages.about.subtitle')
      .col-xl-7
        .row.gy-4.icon-boxes
          .col-md-6{"data-aos" => "fade-up", "data-aos-delay" => "200"}
            .icon-box
              %i.bi.bi-buildings
              %h3
                = t('pages.about.full_service_title')
              %p
                = t('pages.about.full_service_body')
          / End Icon Box
          .col-md-6{"data-aos" => "fade-up", "data-aos-delay" => "300"}
            .icon-box
              %i.bi.bi-clipboard-pulse
              %h3
                = t('pages.about.incorporation_title')
              %p
                = t('pages.about.incorporation_body')
          / End Icon Box
          .col-md-6{"data-aos" => "fade-up", "data-aos-delay" => "400"}
            .icon-box
              %i.bi.bi-command
              %h3
                = t('pages.about.real_estate_title')
              %p
                = t('pages.about.real_estate_body')
          / End Icon Box
          .col-md-6{"data-aos" => "fade-up", "data-aos-delay" => "500"}
            .icon-box
              %i.bi.bi-graph-up-arrow
              %h3
                = t('pages.about.taxes_title')
              %p
                = t('pages.about.taxes_body')
          / End Icon Box
/ /About Section

