/ Contact Section
%section#contact.contact.section
  / Section Title
  .container.section-title{"data-aos" => "fade-up"}
    %h2
      = t('pages.contact.title')
    %p
      = t('pages.contact.body')
  / End Section Title
  .container{"data-aos" => "fade-up", "data-aos-delay" => "100"}
    .row.gy-4
      .col-lg-6
        .row.gy-4
          .col-md-6
            .info-item{"data-aos" => "fade", "data-aos-delay" => "200"}
              %i.bi.bi-geo-alt
              %h3
                = t('pages.contact.address')
              %p
                = t('pages.address1')
              %p
                = t('pages.address2')
          / End Info Item
          .col-md-6
            .info-item{"data-aos" => "fade", "data-aos-delay" => "300"}
              %i.bi.bi-telephone
              %h3
                = t('pages.contact.call_us')
              %p
                = t('pages.phone_number')
          / End Info Item
          .col-md-6
            .info-item{"data-aos" => "fade", "data-aos-delay" => "400"}
              %i.bi.bi-envelope
              %h3
                = t('pages.contact.email_us')
              %p
                = t('pages.email_address')
          / End Info Item
          .col-md-6
            .info-item{"data-aos" => "fade", "data-aos-delay" => "500"}
              %i.bi.bi-clock
              %h3
                = t('pages.contact.open_hours')
              %p
                = t('pages.contact.monday_friday')
              %p
                = t('pages.contact.nine_to_five')
          / End Info Item
      .col-lg-6
        %form.php-email-form{:action => "forms/contact.php", "data-aos" => "fade-up", "data-aos-delay" => "200", :method => "post"}
          .row.gy-4
            .col-md-6
              %input.form-control{:name => "name", :placeholder => "Your Name", :required => "", :type => "text"}/
            .col-md-6
              %input.form-control{:name => "email", :placeholder => "Your Email", :required => "", :type => "email"}/
            .col-12
              %input.form-control{:name => "subject", :placeholder => "Subject", :required => "", :type => "text"}/
            .col-12
              %textarea.form-control{:name => "message", :placeholder => "Message", :required => "", :rows => "6"}
            .col-12.text-center
              .loading Loading
              .error-message
              .sent-message Your message has been sent. Thank you!
              %button{:type => "submit"} Send Message
      / End Contact Form
/ /Contact Section


