/ Faq Section
%section#faq.faq.section
  .container
    .row.gy-4
      .col-lg-4{"data-aos" => "fade-up", "data-aos-delay" => "100"}
        .content.px-xl-5
          %h3
            %span
              = t('pages.faq.title')
            %strong
              = t('pages.faq.title2')
          %p
            = t('pages.faq.body')
      .col-lg-8{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        .faq-container
          .faq-item.faq-active
            %h3
              %span.num 1.
              %span
                = t('pages.faq.questions.question1')
            .faq-content
              %p
                = t('pages.faq.questions.answer1')
            %i.faq-toggle.bi.bi-chevron-right
          / End Faq item
          .faq-item
            %h3
              %span.num 2.
              %span
                = t('pages.faq.questions.question2')
            .faq-content
              %p
                = t('pages.faq.questions.answer2')
            %i.faq-toggle.bi.bi-chevron-right
          / End Faq item
          .faq-item
            %h3
              %span.num 3.
              %span
                = t('pages.faq.questions.question3')
            .faq-content
              %p
                = t('pages.faq.questions.answer3')
            %i.faq-toggle.bi.bi-chevron-right
          / End Faq item
          .faq-item
            %h3
              %span.num 4.
              %span
                = t('pages.faq.questions.question4')
            .faq-content
              %p
                = t('pages.faq.questions.answer4')
            %i.faq-toggle.bi.bi-chevron-right
          / End Faq item
          .faq-item
            %h3
              %span.num 5.
              %span
                = t('pages.faq.questions.question5')
            .faq-content
              %p
                = t('pages.faq.questions.answer5')
            %i.faq-toggle.bi.bi-chevron-right
          / End Faq item
/ /Faq Section

