/ Services Section
%section#services.services.section
  / Section Title
  .container.section-title{"data-aos" => "fade-up"}
    %h2
      = t('pages.services.title')
    %p
      = t('pages.services.body')
  / End Section Title
  .container
    .row.gy-4
      .col-lg-6{"data-aos" => "fade-up", "data-aos-delay" => "100"}
        .service-item.d-flex
          .icon.flex-shrink-0
            %i.bi.bi-briefcase
          %div
            %h4.title
              = t('pages.services.incorporation.title')
            %p.description
              = t('pages.services.incorporation.body')
      / End Service Item
      .col-lg-6{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        .service-item.d-flex
          .icon.flex-shrink-0
            %i.bi.bi-card-checklist
          %div
            %h4.title
              = t('pages.services.banking.title')
            %p.description
              = t('pages.services.banking.body')
      / End Service Item
      .col-lg-6{"data-aos" => "fade-up", "data-aos-delay" => "300"}
        .service-item.d-flex
          .icon.flex-shrink-0
            %i.bi.bi-bar-chart
          %div
            %h4.title
              = t('pages.services.real_estate.title')
            %p.description
              = t('pages.services.real_estate.body')
      / End Service Item
      .col-lg-6{"data-aos" => "fade-up", "data-aos-delay" => "400"}
        .service-item.d-flex
          .icon.flex-shrink-0
            %i.bi.bi-binoculars
          %div
            %h4.title
              = t('pages.services.section_8.title')
            %p.description
              = t('pages.services.section_8.body')
      / End Service Item
      .col-lg-6{"data-aos" => "fade-up", "data-aos-delay" => "500"}
        .service-item.d-flex
          .icon.flex-shrink-0
            %i.bi.bi-brightness-high
          %div
            %h4.title
              = t('pages.services.property_management.title')
            %p.description
              = t('pages.services.property_management.body')
      / End Service Item
      .col-lg-6{"data-aos" => "fade-up", "data-aos-delay" => "600"}
        .service-item.d-flex
          .icon.flex-shrink-0
            %i.bi.bi-calendar4-week
          %div
            %h4.title
              = t('pages.services.taxes.title')
            %p.description
              = t('pages.services.taxes.body')
      / End Service Item
/ /Services Section

