/ Stats Section
%section#stats.stats.section.dark-background
  %img{:alt => "", "data-aos" => "fade-in", :src => "/assets/public/assets/img/stats-bg.jpg"}/
  .container.position-relative{"data-aos" => "fade-up", "data-aos-delay" => "100"}
    .row.gy-4
      .col-lg-3.col-md-6
        .stats-item.text-center.w-100.h-100
          %span.purecounter{"data-purecounter-duration" => "1", "data-purecounter-end" => "#{Page.clients}", "data-purecounter-start" => "0"}
          %p
            = t('pages.stats.clients')
      / End Stats Item
      .col-lg-3.col-md-6
        .stats-item.text-center.w-100.h-100
          %span.purecounter{"data-purecounter-duration" => "1", "data-purecounter-end" => "#{Page.properties}", "data-purecounter-start" => "0"}
          %p
            = t('pages.stats.properties')
      / End Stats Item
      .col-lg-3.col-md-6
        .stats-item.text-center.w-100.h-100
          %span.purecounter{"data-purecounter-duration" => "1", "data-purecounter-end" => "#{Page.years_of_experience}", "data-purecounter-start" => "0"}
          %p
            = t('pages.stats.years_of_experience')
      / End Stats Item
      .col-lg-3.col-md-6
        .stats-item.text-center.w-100.h-100
          %span.purecounter{"data-purecounter-duration" => "1", "data-purecounter-end" => "#{Page.total_investment_value}", "data-purecounter-start" => "0"}
          %p
            = t('pages.stats.total_investment_value')
      / End Stats Item
/ /Stats Section

