- content_for :title do
  Comienso

%main.main
  / Hero Section
  = render 'hero'
  = render 'clients'
  = render 'about'
  = render 'stats'
  = render 'services'
  = #render 'features'
  = render 'portfolio'
  = render 'faq'
  = render 'team'
  = render 'call_to_action'
  = render 'testimonials'
  =# render 'recent_posts'
  = render 'contact'
