%h1 New Contact Sign-Up
%p A new person has signed up with the following details:
%p
  First Name: #{@contact.first_name}
  %br/
  Last Name: #{@contact.last_name}
  %br/
  Email: #{@contact.email}
  %br/
  Phone: #{@contact.phone}
  %br/
  Subject: #{@contact.subject}
  %br/
  Message: #{@contact.message}

