!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title
      = "ADM!NS | " + t('company_name') + " | "
      = yield(:title)

    / Custom fonts for this template
    %link{:href => "/assets/admins/vendor/fontawesome-free/css/all.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i", :rel => "stylesheet"}/
    / Custom styles for this template
    %link{:href => "/assets/admins/css/sb-admin-2.min.css", :rel => "stylesheet"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.bg-gradient-primary
    .container
      / Outer Row
      .row.justify-content-center
        .col-xl-10.col-lg-12.col-md-9
          .card.o-hidden.border-0.shadow-lg.my-5
            .card-body.p-0
              / Nested Row within Card Body
              .row
                .col-lg-6.d-none.d-lg-block.bg-login-image
                  %img.img-fluid{:src => "/assets/general/propiedades_usa.png", style: 'width: 80%; position: absolute; top: 25%; left: 25%;'}/
                .col-lg-6
                  .p-5
                    = yield
                    %br
                    %br
                    %br
                    %br
                    %br
                    %br

    / Bootstrap core JavaScript
    %script{:src => "/assets/admins/vendor/jquery/jquery.min.js"}
    %script{:src => "/assets/admins/vendor/bootstrap/js/bootstrap.bundle.min.js"}
    / Core plugin JavaScript
    %script{:src => "/assets/admins/vendor/jquery-easing/jquery.easing.min.js"}
    / Custom scripts for all pages
    %script{:src => "/assets/admins/js/sb-admin-2.min.js"}
