-#%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PropiedadesUsa
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    = yield
!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title
      Propiedaded USA |
      = yield(:title)
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    / Favicons
    %link{:href => "/assets/public/assets/img/favicon.png", :rel => "icon"}/
    %link{:href => "/assets/public/assets/img/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    / Fonts
    %link{:href => "https://fonts.googleapis.com", :rel => "preconnect"}/
    %link{:crossorigin => "", :href => "https://fonts.gstatic.com", :rel => "preconnect"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap", :rel => "stylesheet"}/
    / Vendor CSS Files
    %link{:href => "/assets/public/assets/vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/assets/public/assets/vendor/bootstrap-icons/bootstrap-icons.css", :rel => "stylesheet"}/
    %link{:href => "/assets/public/assets/vendor/aos/aos.css", :rel => "stylesheet"}/
    %link{:href => "/assets/public/assets/vendor/glightbox/css/glightbox.min.css", :rel => "stylesheet"}/
    %link{:href => "/assets/public/assets/vendor/swiper/swiper-bundle.min.css", :rel => "stylesheet"}/
    / Main CSS File
    %link{:href => "/assets/public/assets/css/main.css", :rel => "stylesheet"}/

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.index-page
    %header#header.header.d-flex.align-items-center.fixed-top
      .container-fluid.position-relative.d-flex.align-items-center.justify-content-between
        %a.logo.d-flex.align-items-center.me-auto.me-xl-0{:href => "#hero"}
          / Uncomment the line below if you also wish to use an image logo
          / <img src="/assets/public/assets/img/logo.png" alt="">
          %h1.sitename Propiedaded USA
          %span .
        %nav#navmenu.navmenu
          %ul
            %li
              %a.active{:href => "#hero"}
                = t('pages.link_hero')
            %li
              %a{:href => "#about"}
                = t('pages.link_about')
            %li
              %a{:href => "#services"}
                = t('pages.link_services')
            %li
              %a{:href => "#portfolio"}
                = t('pages.link_portfolio')
            %li
              %a{:href => "#pricing"}
                = t('pages.link_pricing')
            %li
              %a{:href => "#team"}
                = t('pages.link_team')
            %li
              %a{:href => "#contact"}
                = t('pages.link_contact')
            %li
              %a{:href => url_for(locale: 'es')}
                Español
            %li
              %a{:href => url_for(locale: 'en')}
                English
          %i.mobile-nav-toggle.d-xl-none.bi.bi-list
        %a.btn-getstarted{:href => "#about"}
          = t('pages.get_started')
    = yield
    %footer#footer.footer.position-relative.light-background
      .container.footer-top
        .row.gy-4
          .col-lg-5.col-md-12.footer-about
            %a.logo.d-flex.align-items-center{:href => "#hero"}
              %span.sitename Propiedaded USA
            %p
              = t('pages.abut_text')
            .social-links.d-flex.mt-4
              %a{:href => ""}
                %i.bi.bi-twitter-x
              %a{:href => ""}
                %i.bi.bi-facebook
              %a{:href => ""}
                %i.bi.bi-instagram
              %a{:href => ""}
                %i.bi.bi-linkedin
          .col-lg-2.col-6.footer-links
            %h4= t('pages.useful links')
            %ul
              %li
                %a{:href => "#hero"}
                  = t('pages.link_hero')
              %li
                %a{:href => "#about"}
                  = t('pages.link_about')
              %li
                %a{:href => "#services"}
                  = t('pages.link_services')
              %li
                %a{:href => "#"}
                  = t('pages.link_terms_of_service')
              %li
                %a{:href => "#"}
                  = t('pages.link_privacy_policy')
          -#.col-lg-2.col-6.footer-links
            %h4 Our Services
            %ul
              %li
                %a{:href => "#"} Web Design
              %li
                %a{:href => "#"} Web Development
              %li
                %a{:href => "#"} Product Management
              %li
                %a{:href => "#"} Marketing
              %li
                %a{:href => "#"} Graphic Design
          .col-lg-3.col-md-12.footer-contact.text-center.text-md-start
            %h4
              = t('pages.contact_us')
            %p= t('pages.address1')
            %p= t('pages.address2')
            %p= t('pages.address3')
            %p.mt-4
              %strong
                = t('pages.phone')
              %span
                = t('pages.phone_number')
            %p
              %strong
                = t('pages.email')
              %span
                = t('pages.email_address')
      .container.copyright.text-center.mt-4
        %p
          ©
          %span Copyright #{Date.today.year}
          %strong.sitename Propiedaded USA
    / Scroll Top
    %a#scroll-top.scroll-top.d-flex.align-items-center.justify-content-center{:href => "#"}
      %i.bi.bi-arrow-up-short
    / Preloader
    #preloader
    / Vendor JS Files
    %script{:src => "/assets/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"}
    %script{:src => "/assets/public/assets/vendor/php-email-form/validate.js"}
    %script{:src => "/assets/public/assets/vendor/aos/aos.js"}
    %script{:src => "/assets/public/assets/vendor/glightbox/js/glightbox.min.js"}
    %script{:src => "/assets/public/assets/vendor/purecounter/purecounter_vanilla.js"}
    %script{:src => "/assets/public/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"}
    %script{:src => "/assets/public/assets/vendor/isotope-layout/isotope.pkgd.min.js"}
    %script{:src => "/assets/public/assets/vendor/swiper/swiper-bundle.min.js"}
    / Main JS File
    %script{:src => "/assets/public/assets/js/main.js"}
